html {
  height: 100%;
  width: 100%;
}

.home {
  background: url(https://images.unsplash.com/photo-1603169812512-d6560fd13fa2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80)
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.projects, .resume {
  background-color: rgba(244,248,251,255)
}

.header, .title, .subtitle {
  color: rgb(69, 100, 139);
  margin-top: 6%;
  margin-left: 0.5%;
}

a,
li {
  list-style-type: none;
  color: rgb(104, 149, 207);
  padding: 7px 10px;
  text-decoration: none;
  font-size: 17px;
  display: inline;
}

a:hover {
  color: rgb(69, 100, 140);
}

.content,
p {
  color: rgb(90, 131, 184);
  text-align: left;
  margin-left: 1%;
  width: 44%;
  margin-top: 5%;
}

small {
  color: rgb(156, 190, 235);
}

.links {
  display: flex;
  justify-content: center;
}

.projectPictures1, .projectPictures2, .projectPictures3, .projectPictures4{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 3%;
}

.projectContent{
  color: rgb(90, 131, 184);
  text-align: left;
  font-size: large;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.projectSubtitle, .projectTitle {
  color: rgb(69, 100, 139);
  margin-top: 6%;
  display: flex;
  justify-content: center;
}

#closeBtn {
  background-color: rgba(0, 0, 0, 0.806);
  border: none;
  color: white;
  padding: 1% 1%;
  margin-left: 92%;
}

#boopFoxBtn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: transparent;
  position: fixed;
  left: 48%;
  top: 72%;
}






  /* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 480px) {

  .content{
    font-size: 20px;
  }
  .home{
    background: none;
    background-color: rgba(244,248,251,255)
  }
  .content{
    width: 100%;
    text-align: left;
  }
  .links{
    font-size: 25px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20%;
    grid-template-rows: 10% 10%;
    grid-template-columns: 30% 30%;
  }
  small{
    visibility: hidden;
  }

  .projectContent {
    margin-left: 25%;
    margin: 10%;
    width: 100%;
    font-size: large;
  }}



/* iPads (portrait and landscape) ----------- */
@media screen and (max-width : 1024px) {

  .home {

  }

  .content{
    font-size: 20px;
  }
  .home{
    background: none;
    background-color: rgba(244,248,251,255)
  }
  .content{
    width: 100%;
    text-align: left;
  }
  .links{
    font-size: 35px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 18%;
    grid-template-rows: 70px 70px;
    grid-template-columns: 35% 35%;
  }
  small{
    visibility: hidden;
  }
  .projectContent {
    margin: 10%;
    width: 80%;
    font-size: large;
  }

}
