
.header {
    color:rgb(104, 149, 207);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    position: relative;
    left: 23px;
}

  html {
    /* background image */
    background: url(https://images.unsplash.com/photo-1603169812512-d6560fd13fa2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80) no-repeat center center fixed; 
    /* background covers the whole site */
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
  }

  li {
    /* puts the list on a line */
    display: inline;
  }

  .nav {
    /* makes the background 50% transparent */
    background-color: rgba(255,255,255,0.5); 
    /* width of the menu background */
    width: 620px;
  }

  .nav, a, li { /* the a element creates a hyperlink */
    /* removes the list dots */
    list-style-type: none;
    /* color for the menu links */
    color:rgb(104, 149, 207);
    /* text go from left to right */
    text-align: left;
    /* creates space between the elements content (the menu links) */
    padding: 10px 13px;
    /* removes the lines under the links */
    text-decoration: none;
    /* font size on the menu links */
    font-size: 17px;
  }

  .nav, a:hover { 
      /* on hover the menu links change color */
    color:rgb(69, 100, 139);
  }

  .content {
    height: 100%;
    width: 100%;
  }

 .content, p {
     width: 620px;
     height: 300px;
     color:rgb(69, 100, 139);
 }

 #btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: transparent;
  position: fixed;
  left: 48%;
  top: 72%;
}

